#rights{
  position:absolute;
  bottom: 0;
  left: 40px;
  font-size: 10px;
}
h1{
  padding-top: 50px;
}

.my-container{
  padding:4%;
}

a{
  text-decoration: none;
}
li{
  font-weight: 900;
  list-style: none;
  a{
    color:black;
  }
}
header ul{
  padding: 0;
  margin:0;

}

header ul li a{
  width: 100%;
  padding:15px;
  font-weight: 600;


}
a:hover{
  color:red;
}

.article{
  margin-top: 25px;
  h2{
    padding-bottom: 30px;
  }
  img{
    max-width: 100%;
    padding-bottom: 25px;
    margin:auto;

  }
  

}

// band section

.band-member{
  padding:5px;
  figure{
      img{
        max-width: 100%;
        max-height: 250px;
      }

  }
  p{
    margin-left: 20px;
    text-align: justify;

  }
}
.quote{
  display:flex;
  flex-direction: column;
  padding: 15px;

  blockquote{
    padding:15px;
    font-size: 20px;
    font-weight: 600;
    color:gray;

  }
  p{
    padding:15px;
  }
}



// Home Grid



.grid{
  position:relative;
  height:600px;
  background-color: black;
  a{ 
    position:absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family:$font-logo;
    font-weight: 900;
    color:black;
    text-align: center;
    background-color:$main;



  }

}
header ul li a:hover{
  color:red;
}


.main-grid{
  height:450px;
  background:url("../images/main-md.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;



}
.group-div{
  position:relative;
  height:100px;
  padding-top:0;
  margin-top:-100px;
  background-color: $main;



  p:nth-child(1){
    padding-top: 10px;
  }
}
.grid2{
  position:absolute;
  bottom:0;
  left:0;

  width: 33.33333%;
  height: 150px;
  background:url("../images/band-sm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;



}
.grid3{
  position:absolute;
  bottom:0;
  left:33.33333%;
  width: 33.3333%;
  height: 150px;
  
  background:url("../images/blog-sm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;




}
.grid4{
  position:absolute;
  bottom:0;
  left:66.6666%;
  width: 33.333333333%;
  height: 150px;
  background:url("../images/content-sm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;



}
.grid2:hover{
  
  a{
    color:red;
  }
}
.grid3:hover{

  a{
    color:red;
  }
}
.grid4:hover{

  a{
    color:red;
  }
}


@supports(display:grid){
  .grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr) ;
    height:60vh;
  }
  .main-grid{
    height: auto;
    grid-column: 1/4;
    grid-row: 1/4;
  }

  .group-div{
    height: 120px;
    padding-top:5px;
    margin-top: 5px;


    grid-column: 1/4;
    grid-row:3;
  }


  .grid2{
    position:relative;

    top:auto;
    left:auto;
    width: auto;
    height: auto;
    grid-column:1;
    grid-row: 4;


  }
  .grid3{
    position:relative;
    bottom:auto;
    left:auto;
    width: auto;
    height: auto;
    grid-column:2;
    grid-row: 4;



  }

  .grid4{
    position:relative;
    bottom:auto;
    left:auto;
    width: auto;
    height: auto;

    grid-column:3;
    grid-row: 4;

  }
  .grid2:hover{
    border: 5px solid red;
  }
  .grid3:hover{
    border: 5px solid red;
  }
  .grid4:hover{
    border: 5px solid red;
    }



}






html{
overflow-x:hidden ;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;

}

.centered{
  text-align:center;
}

.unlocked:hover{
  color:red;
  cursor: pointer;
}
.dropdown::after{
  font-weight:900;
  content: " \22C1";

}
.dropup::after{
  font-weight:900;
  content: " \22C0";

}
.locked{
  display:none
}

// header

header nav{
  width: 100vw;
  padding:0;
  margin:auto;
  text-align: center;

}



header li{

  display:flex;
}

// footer

footer{
  position:relative;
  display:inline-flex;
  width: 100%;
  padding:10px;
  padding-bottom: 30px;
  text-align: center;

  nav{
    display:inline-flex;
    justify-content: space-between;
    width: 90%;
    margin:auto;
      border-top: 1px solid gray;



  }
  ul{
    padding-right: 25px ;
    line-height: 20px;
  }
  


div{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  i{
    color:black;
  }
  i:hover{
    color:red;
  }
}

}





// logo

.my-logo{
  position:relative;
  top:20px;
  font-family:$font-logo;
  font-size: 30px;
  font-weight: 900;
  line-height: 0.8;
  color:black;
  text-align: center;
  text-decoration: none;

  text-shadow: 2px 2px $shadow;
  p:nth-child(2){
    color:red;
 }
}




// iframes
.flex{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-around;
  text-align: center;
}
iframe{
  width: 100%;
  height: 382px;
   margin:auto;
}



figcaption{
  margin-top: 5px;
  font-weight: 700;
}





// Blog

#carouselExampleControls{
  position: relative;
text-align: center;
  img{
    height:200px;

  }
  .center{
    position: absolute;
    top:40%;
    left:50%;
    margin-left:-100px;
    color:white;
    background-color: $shadow;
  }
}


.extra{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  div{
    margin:20px auto ;
  }
  .card-img-top{
    width: 500px;
    height: 250px;
  }
  .btn:hover{
    background-color: red;
  }
  .card{
    background-color: $main;
  }
 }


.badge{
  padding:5px;
  background-color: lightcoral;

}

.accordion{
  padding: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  .accordion-item{
  
    button:hover{
      background-color: $main;
     
    }
    button.accordion-button:not(.collapsed){
      color:black;
      background-color:$shadow;

    }
}


}




// tablet
@media(min-width:700px){

header nav{
  display:inline-flex;
  text-align: left;


}
header ul{
  position: absolute;
  right:15px;
  display:inline-flex;
  justify-content: space-between;

  width: 370px;
}

header ul li a{
  font-size: 20px;
}

.my-logo{
  padding-left: 50px;
  font-size: 50px;

}

.group-div{
  position:relative;
  top:-115px;
  height:auto;

  padding-top:auto;
  margin-top:auto;
  





}




.band-members{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.band-member{
  width: 500px;
  margin: 10px;
  margin:auto;
}

.quote{
  flex-direction: row;
}

iframe{
  width: 500px;
  min-height: 382px;

  margin:auto;
}

// footer
footer{

  nav{

    width: 95%;
  padding:0;

  }
  ul{
    display: inline-flex;
 
    justify-content: space-between;
    width:25%;
    padding-top: 50px;
    line-height: auto;




  }
  
li{
  font-weight: 900;
}

div{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  i{
    padding-top: 65px;
  }
}

}



@supports(display:grid){
  .main-grid{
    background:url("../images/main-md.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

  }
  .group-div{
    top:0;
  }
}

// blog

#carouselExampleControls{

  img{
    height:400px;
  }
}



}

// PC
@media(min-width:992px){
  header ul li a{
    font-size: 25px;
  }
  header ul{
  width: 600px;

  }

  .flex{
    flex-direction: row;
  }

  #carouselExampleControls{

    img{
      height:600px;
    }
  }

    .extra{
      flex-direction: row;
    }


  @supports(display:grid){
    .main-grid{
      background:url("../images/main-lg.jpg");
      background-repeat:no-repeat;
      background-position: center;
      background-size: cover;

    }
  }
}